################################################################################
# Visual Studio / .NET
################################################################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

################################################################################
# Build output
################################################################################

bin/
obj/
publish/

################################################################################
# Logs
################################################################################

*.log

################################################################################
# OS files
################################################################################

Thumbs.db
.DS_Store